:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #383838;
  background-color: #f6f6f6;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}
button:disabled,
button[disabled] {
  background-color: rgba(234, 234, 234, 0.17);
  color: rgba(166, 166, 166, 0.7);
}
button:not(:disabled):hover {
  border-color: rgba(190, 190, 190, 0.7);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
button:not(:disabled):active {
  border-color: rgba(140, 140, 140, 0.87);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.38);
}

input,
button {
  outline: none;
}

.mp3-buttons__button {
  padding: 2px 5px;
}
.mp3-buttons__button_positive:not(:disabled) {
  background-color: #008c38 !important;
  color: #ffffff !important;
  border: 1px solid #008c38 !important;
}
.mp3-buttons__button_positive:not(:disabled):hover,
.mp3-buttons__button_positive:not(:disabled):active {
  background-color: #017e33 !important;
  color: #ffffff !important;
  border: 1px solid #017e33 !important;
}
.mp3-buttons__button_negative:not(:disabled) {
    background-color: #b92c3e !important;
    color: #ffffff!important;
  border: 1px solid #b92c3e !important;
}
.mp3-buttons__button_negative:not(:disabled):hover,
.mp3-buttons__button_negative:not(:disabled):active {
    background-color: #a82132 !important;
    color: #ffffff!important;
  border: 1px solid #b92c3e !important;
}

.mp3-rows {
  text-align: left;
  font-size: 13px;
  padding-top: 30px;
}
.mp3-row {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border-bottom: 1px solid white;
  padding: 4px 2px;
}
.mp3-row_header {
  color: #a6a6a6;
  border-bottom: 1px solid #c2c2c2;
}
.mp3-nr {
  font-size: 12px;
  color: #9d9d9d;
  margin-right: 10px;
  display: inline-block;
  width: 20px;
  max-width: 20px;
  min-width: 20px;
}
.mp3-checkbox {
  font-size: 12px;
  color: #9d9d9d;
  margin-right: 10px;
  display: inline-block;
  width: 20px;
  max-width: 20px;
  min-width: 20px;
}
.mp3-buttons {
  margin-right: 10px;
  display: inline-block;
  width: 82px;
  max-width: 82px;
  min-width: 82px;
  font-size: 12px;
}
.mp3-result {
  color: #9d9d9d;
  font-size: 12px;
}
.mp3-result_processing {
  color: #002dc0;
}
.mp3-result_success {
  color: #00c029;
}
.mp3-result_error {
  color: #c90004;
}

.hidden{
  display: none;
}
.loader-border{
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
}
.loader-grey{
  color: #343434 !important;
  background-color: #9e9e9e !important;
  animation: loader 2s infinite linear !important;
  border-radius: 4px !important;
}
.loader-text {
  text-align: center;
  color: #343434 !important;
  font-size: 13px;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 60px auto;
  padding: 30px 15px 15px 15px;
  border: 1px solid #888;
  width: 90%;
  border-radius: 5px;
  position: relative;
  max-width: 900px;
}
.modal-close {
  color: #aaa;
  position: absolute;
  top: 5px;
  right: 7px;
  font-size: 28px;
  font-weight: bold;
}
.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.table {
  text-align: left;
  font-size: 13px;
  border-collapse: collapse;
}
.table.table_bordered th,
.table.table_bordered td {
  border: 1px solid #dddddd;
  padding: 2px 4px;
}

.text-green {
  color: #017e33;
}
.text-red {
  color: #c90004;
}

.top-buttons {
  display: flex;
  align-items: center;
  font-size: 13px;
  margin: auto auto;
}
.top-buttons__button-wrapper {
  padding: 6px;
  display: flex;
  align-items: center;
}

.settings {
  background: white;
  text-align: left;
  font-size: 13px;
  padding: 7px 7px 20px 7px;
}

.settings-icon {
  background-image: url("../assets/icons/settings.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 22px;
  max-width: 22px;
  min-width: 22px;
  height: 22px;
  max-height: 22px;
  min-height: 22px;
  cursor: pointer;
  margin: 0 8px 0 3px;
}
.settings-icon-close {
  background-image: url("../assets/icons/close.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 22px;
  max-width: 22px;
  min-width: 22px;
  height: 22px;
  max-height: 22px;
  min-height: 22px;
  cursor: pointer;
  margin: 0 8px 0 3px;
}
.settings input[type="number"]{
  width: 50px;
}
.settings__checkbox {
  color: #3b3b3b;
  font-size: 13px;
  margin-top: 15px;
}
pre {
  text-align: left;
  background: white;
  padding: 7px;
}
.mp3-info {
  background-image: url("../assets/icons/info.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  max-width: 18px;
  min-width: 18px;
  height: 18px;
  max-height: 18px;
  min-height: 18px;
  cursor: pointer;
  margin: 0 8px 0 3px;
}
.test-text-wrapper {
  text-align: left;
  margin: 10px;
  padding: 10px;
  border: 1px solid #4f4f4f;
  border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #383838;
  }
  button:active {
    background-color: #3f3f3f;
  }

  .settings {
    background: #4d4d4d;
    color: white;
  }
  .settings__checkbox {
    color: #d9d9d9;
  }
  .top-buttons__button-close-settings {
    background: #4d4d4d;
  }
  pre {
    background: #4f4e4e;
  }
  .loader-text {
    color: #c7c7c7 !important;
  }

  .modal-content {
    background-color: #595959;
    border: 1px solid #888;
  }
  .modal-close {
    color: #8f8e8e;
  }
  .text-red {
    color: #ec5b5b;
  }
  .text-black {
    color: #d2d1d1;
  }
  .mp3-result_processing {
    color: #6484e5;
  }
  .text-green,
  .mp3-result_success {
    color: #5ce57a;
  }
  .mp3-result_error {
    color: #ec5b5b;
  }

  .mp3-info {
    background-image: url("../assets/icons/info_white.svg");
  }
  .settings-icon {
    background-image: url("../assets/icons/settings_white.svg");
  }
  .settings-icon-close {
    background-image: url("../assets/icons/close_white.svg");
  }
}
